/* 
    Created on : 24-05-2017, 16:56:10
    Author     : Juan Lillo Rojas <ju.lillo.rojas@gmail.com>
*/

#flash-message{
    position: fixed;
    z-index: 10;
    bottom: 20px;
    right: 20px;
    /*animation: flash-message 10s forwards;*/
}

/*@keyframes flash-message {
    0%   {opacity: 1;}
    100% {opacity: 0; display:none;}
}*/